@model TODOList.Models.Task
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-4">
        <h3>Details</h3>
            <input type="text" name="title" class="form-control" value="@Model.Title" disabled/>
            <a href="/"><input type="button" name="back" class="btn btn-block" value="back"/></a>
    </div>
</div>