<!DOCTYPE html>
<html>
<head>
    <title>Anime List</title>
    @Styles.Render("~/Content/style.css")
</head>
<body>
    @if (ViewBag.Message != null)
    {
        <div style="background-color:red; color:white; font-size:25px; padding:8px; text-align:center;">@ViewBag.Message</div>
    }
    @RenderBody()
</body>
</html>